p{
    font-size: 6px;
    margin: 0;
    color: rgb(109, 109, 109);
}
h6{
    font-size: 8px;
    margin: 0;
}

.container{
    width: 400px;
}
.left{
    width: 70%;
    height: 100px;
    /* background-color: rgb(190, 163, 215); */
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.right{
    width: 30%;
    height: 100px;
    /* background-color: rgb(163, 215, 174); */
    float: right;
}

.profile{
    height: 22px;
}
.profileImg{
    width: 22px;
    height: 100%;
    border-radius: 100%;
    float: left;
    margin-right: 5px;
}

.img1{
    width: 80%;
    height: 80%;
    margin: 10%;
}

.content{
    margin: 5px 0;
}

.title{
    font-size: 9px;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

.shareBox{
    text-align: right;
}
.share{
    width: 10px;
    height: 10px;
}
