.profile{
    width: 100px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.title{
    text-align: center; 
    font-size: 30px; 
}

.content{
    color: darkblue;
}

p{
    text-align: center; 
    font-size: 10px;
}

#special{
    text-align: center; 
    margin-top: -20px;
    font-size: 15px;
    color: darkcyan;
}

.box{
    width: 100px;
    background-color: aqua;
    margin: auto;
    padding: 20px;
    border: 4px solid black;
    border-radius: 5px;
    font-size: 10px;
    box-shadow : 5px 5px black ;
}

/* ~~~~~~~~ layout1 ~~~~~~~~ */

.container{
    width: 250px;
}
.header{
    width: 100%;
    height: 50px;
    background-color: skyblue;
}